# DEVELOPMENT
hatch==1.9.4
pur==7.3.1
ruff==0.3.4
ruff-lsp==0.0.53
pytest==8.1.1
pytest-cov==4.1.0
coverage==7.4.4
mypy==1.9.0

# PROJECT
numpy==1.26.4
pandas==2.2.1
pyarrow==15.0.2
matplotlib==3.8.3
garmin-fit-sdk==21.133.0
plotly==5.20.0
